/* Dropdown fade in with CSS Animation */
// .dropdown-menu {
//     animation: fadeOut ease-in .3s;
// }

// .dropdown {
//     &:hover {
//         .dropdown-menu {
//             display: block;
//             animation: fadeIn ease-in .3s;
//         }
//     }
// }

// @keyframes fadeIn {
//     0% {
//         display: none;
//         opacity: 0;
//         transform: translateY(10px);
//     }
//     1% {
//         display: block;
//     }
//     100% {
//         opacity: 1;
//         transform: translateY(0);
//     }
// }


/* Dropdown fade in with CSS Transition */
.dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity ease-in .2s .1s, visibility linear .1s .2s, transform ease-in-out .2s .1s;
}

.dropdown {
    &:hover {

        .dropdown-menu {
            transition: opacity ease-in .2s .1s, visibility linear .1s, transform ease-in-out .2s .1s;
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
        }
    }
}
